p {

    color: red;
  
    width: 450px;
  
    border: 1px solid blue;
  
  }

  .mi-clase {

    background-color: yellow;
  
  }

  #mi-id {

    font-size: 24px;
  
  }

  * {

    margin: 0;
  
    padding: 0;
  
  }

